
@{
    ViewBag.Title = "401";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{ 
    
}
<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">401</h1>
            <h2>Rất tiếc bạn không thuộc phạm vi truy cập trang này</h2>
             
            <div class="mid_center">
                <h4>Tìm kiếm</h4>
                <form>
                    <div class="col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Tìm kiếm!</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>