@model List<Model.EF.Menu>

<div class="col-md-9 col-sm-9 jtv-megamenu">
    <div class="mtmegamenu">
        <ul class="hidden-xs">
            <li class="mt-root demo_custom_link_cms">
                <div class="mt-root-item">
                    <a href="/Home/Index">
                        <div class="title title_font"><span class="title-text">Trang Chủ</span></div>
                    </a>
                </div>

            </li>
            <li class="mt-root">
                <div class="mt-root-item">
                    <a href="#">
                        <div class="title title_font"><span class="title-text">Món ăn</span></div>
                    </a>
                </div>
                <ul class="menu-items col-xs-6">
                    <li class="menu-item depth-1 menucol-1-3 ">
                        <div class="title title_font"> <a href="#">Fashion</a></div>
                        <ul class="submenu">
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Women</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Men</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Kids</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Clothings</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Shoes</a></div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item depth-1 menucol-1-3 ">
                        <div class="title title_font"> <a href="#">Electronics </a></div>
                        <ul class="submenu">
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Mobiles</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Computers</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Headphones</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Laptops</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Appliances</a></div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
    <!-- THức Uống-->
            <li class="mt-root">
                <div class="mt-root-item">
                    <a href="#">
                        <div class="title title_font"><span class="title-text">Thức uống</span></div>
                    </a>
                </div>
                <ul class="menu-items col-xs-6">
                    <li class="menu-item depth-1 menucol-1-3 ">
                        <div class="title title_font"> <a href="#">Fashion</a></div>
                        <ul class="submenu">
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Women</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Men</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Kids</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Clothings</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Shoes</a></div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item depth-1 menucol-1-3 ">
                        <div class="title title_font"> <a href="#">Electronics </a></div>
                        <ul class="submenu">
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Mobiles</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Computers</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Headphones</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Laptops</a></div>
                            </li>
                            <li class="menu-item">
                                <div class="title"> <a href="shop_grid.html">Appliances</a></div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>

    <!--Giới THiệu-->
            <li class="mt-root">
                <div class="mt-root-item">
                    <a href="about_us.html">
                        <div class="title title_font"><span class="title-text">Giới Thiệu</span></div>
                    </a>
                </div>
            </li>
    <!--Liên Hệ-->
            <li class="mt-root">
                <div class="mt-root-item">
                    <a href="/lien-he">
                        <div class="title title_font"><span class="title-text">Liên Hệ</span></div>
                    </a>
                </div>
            </li>
    <!--Tin Tức-->
            <li class="mt-root demo_custom_link_cms">
                <div class="mt-root-item">
                    <a href="/tin-tuc">
                        <div class="title title_font"><span class="title-text">Tin Tức</span></div>
                    </a>
                </div>
                <ul class="menu-items col-md-3 col-sm-4 col-xs-12" style="top: 28px; left: 402.531px;">
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="blog_right_sidebar.html"> Blog – Right Sidebar </a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="blog_left_sidebar.html"> Blog – Left Sidebar </a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="blog_full_width.html"> Blog – Full-Width </a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="blog_single_post.html"> Single post </a></div>
                    </li>
                </ul>
            </li>

            <li>
            </li>
        </ul>
    </div>
</div>